:root {
    --thatred: #D11522;
    --background: #F4F0ED;
    --fyellow: #FAEF9B;
    --fpurple: #9BA6FA;
    --wbpink: #FFC8B9;
    --wbwhite: #FEFEE2;
    --wbgreen: #2B6D49;
    --kgreen: #C8DF52;
    --kyellow: #FEDE00;
    --sdorange: #E76F51;
}


* {
    padding: 0;
    margin: 0;
}

body {    
    font-family: "Harmattan", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
    background-color: var(--background);
    background-repeat: repeat;
}

#hero, #about {
    padding: 40px 80px 40px 80px;
    box-sizing: border-box;
}

/* Reveal on scroll */
.sload {
    opacity: 0;
    transform: translateY(50px);
}

/* Hero */
#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#hero img {
    position: absolute;
    width: 90vw;
    height: 90vh;
    z-index: -10;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    font-family: "Lalezar", system-ui;
    font-weight: 400;
    font-style: normal;
    
    margin: 0 80px;
    font-size: 90px;
    text-align: center;
}

h1 span {
    color: var(--thatred)
}

/* About */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#about p {
    font-size: 24px;
    text-align: center;
}

#about .seework {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20vh 0 0 0;
}

#about .seework p {
    font-size: 32px;
    font-family: "Lalezar", system-ui;
    font-weight: 400;
    font-style: normal;
}

#about .seework span {
    color: var(--thatred);
}

#about img {
    height: 50%;
}

/* Main */
.project {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}

h2 {
    font-family: "Lalezar", system-ui;
    font-weight: 400;
    font-style: normal;
    
    font-size: 90px;
}

.project p, a {
    font-size: 32px;
}

.text {
    display: flex;
    padding: 40px;
    justify-content: center;
}

.project .btn {
    display: inline-flex;
    margin: 20vh 0 0 0;
    cursor: pointer;
    background-color: var(--thatred);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

/* Frendnary */

#frendnary {
    background-color: var(--fyellow);
}

#frendnary .img {
    background-image: url(assets/frendnary.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* WebBuilder */

#wb {
    background-color: var(--wbpink);
}

#wb .img {
    background-image: url(assets/webbuilder.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Keith */

#keith {
    background-color: var(--kyellow);
}

#keith .img {
    background-image: url(assets/keith.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Spectrum Debate */

#sd  {
    background-color: var(--sdorange);
}

#sd .btn {
    margin: 5vh 0 0 0;
}

#sd .img {
    background-image: url(assets/spectrumdebate.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Media Queries */
@media only screen and (max-width: 800px) {
    /* Main */
    .project {
        height: 200vh;
        grid-template: 1fr 1fr / 1fr;
    }

    .project .img {
        grid-row: 1;
        margin: 10px 0;
    }

    .project .text {
        grid-row: 2;
    }

    #hero, #about {
        padding: 20px 20px;
        box-sizing: border-box;
    }

    h1 {
        font-size: 64px;
        margin: 0;
    }

    h2 {
        font-size: 48px;
    }
}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 48px;
    }

    #about .seework {
        margin: 10vh;
    }
}