@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Inter", sans-serif;
}

h1, h2 {
    transition: text-shadow 0.3s;
}

h1:hover, h2:hover {
    text-shadow: 6px 6px 0px #55AA00;
}

.background-transition {
    transition: background-color 0.5s;
}
